@import './animacions';
@import './colors';
*,
*::before,
*::after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html {
	font-size: 62.5%;
	scroll-behavior: smooth;
}

body {
	font-size: 1.6rem;
	font-family: 'open sans', sans-serif;
}
/*nav*/
.nav {
	position: fixed;
	top: 0;
	width: 100%;
	height: 75px;
	background-color: #303030;
	z-index: 900;
}

/*button-nav*/

.button {
	position: fixed;
	padding: 1rem;
	top: 10px;
	right: 20px;
	width: 55px;
	height: 55px;
	border: 1px solid $bgcolor;
	border: 2px solid #d3d3d3;
	border-radius: 50%;
	background-color: $bgcolor;
	font-size: 2em;
	cursor: pointer;
	z-index: 1500;
	animation: pulse 10s forwards;

	

	&__box {
		display: flex;
		justify-content: center;
		align-items: center;
		border-radius: 50%;
		color: #d3d3d3;
		transition: color 0.7s;
	}
}
.button:hover {
	border: 2px solid $BtnColor;
	box-shadow: 0 0 15px $lightshadow;
	animation: none;

	.button__box {
		color: $BtnColor;
		box-shadow: 0 0 20px $lightshadow;
		background-color: rgba(153, 204, 255, 0.4);
	}
}
/*menu-nav*/
.menu {
	position: absolute;
	display: inline-block;
	list-style: none;
	right: 0px;
	top: 74px;
	width: 50%;
	line-height: 2em;
	text-align: center;
	transform: rotateY(180deg);
	background-color: rgba(48, 48, 48, 0.99);
	font-size: 1.5em;
	opacity: 0;
	// cursor: pointer;
	transition: 1s;
	z-index: 900;
	&--active{
		opacity: 1;
		// right: 0px;
		// line-height: 2em;
		transform: rotateY(0deg);
	}
	li {
		a {
			color: #d3d3d3;
			transition: color .7s;
		}
	}
	li:hover {
		
			a {
				color: $BtnColor;
			}
		
	}

}
/*MENU-NAV-MEDIA*/





/*header*/

header {
	.hero {
		position: relative;
		height: 90vh;
		background-image: url('../img/breakfast-sm.jpg');
		background-position: center;
		background-size: cover;
		background-attachment: fixed;
		z-index: 0;

		&__shadow {
			position: absolute;
			width: 100%;
			height: 100%;
			background-color: rgba(0, 0, 0, 0.627);
			z-index: -10;
		}

		&__text {
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;
			height: 100%;
			z-index: 5;
			padding: 10px;
			text-align: center;
			color: #d3d3d3;
			h1 {
				text-transform: uppercase;
				padding: 10px;
				font-size: 3em;
			}
			p {
				padding: 10px;
				font-size: 1.5em;
			}
		}
	}
}
